@mixin rightBorder (){
    border-right: 1px solid #e6e6e6;
}
@mixin position($padLeft, $padRight, $padTop){
    padding-left: $padLeft;
    padding-right: $padRight;
    padding-top:$padTop;
    height:100%;
}
@mixin flex-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

$primary-color:#304061;
$secondary-color:rgb(171, 134, 110);
$total-color:#7583a0;

*{
    box-sizing: border-box;  
}

body{
    margin: 0;
    padding: 0;
    width: 1920px;
    font-family: "Lato";
}
a{
    text-decoration: none;
}
hr{
    background-color: rgb(47, 64, 97);
    height: 5px;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 75%;
    margin: auto;
    height: 100%;}

.navbar{
    height: 77px;
    box-shadow: 0px 0px 20px #dfd3c7;
        .flex-container{
            @include flex-container();
            .logo{
                @include position(14.6px, 49.5px, 16px);
                @include rightBorder();
                a{
                    color: $primary-color;
                    font-family: "OpenSans"; 
                }
                .text-logo{
                    padding-top: 16px;
                    font-size: 26px;
                    font-weight: bold;
                    letter-spacing: 11px;
                }
                .sub-text-logo{
                    font-size: 11px;
                    letter-spacing: 6px; 
                }
            }
            .nav-item-2{                
                @include position(34.5px, 29px, 27.5px);
                @include rightBorder();
                a{
                    text-shadow: 0px 0px 0.1px $primary-color;
                    color: $primary-color;
                    letter-spacing: 3.9px;
                    font-size: 17px;
                }
            }
            .nav-item-3{
                @include position(35px, 329px, 27.5px);
                display: inline;
                @include rightBorder();
                a{
                    font-size: 15.5px;
                    letter-spacing: 0.63px;
                    color: $secondary-color;
                }
                i{
                    padding-left: 4px;
                    padding-top:5px;
                    font-size: 11px;
                }
            }
            .nav-item-4{
                @include position(32px, 43px, 29px);
                a{
                    font-size: 16px;
                    color: $secondary-color;
                }
            }
            .nav-item-5{
                @include position(0, 29px, 17px);
                @include rightBorder();
                p{
                    color: $secondary-color;
                    font-size: 18px;
                    font-weight: 700;
                    margin: 0;
                    padding: 0;
                }
                .nav-total{
                    color: $total-color;
                    font-size: 12px;
                    letter-spacing: -0.2px;
                    padding-bottom: 2px;
                }
            }
            .nav-item-6{
                @include position(32px, 0px, 24px);
                .avatar-icon{
                    font-size:27px;
                    color: $secondary-color;
                }
            }
            .nav-item-7{
                @include position(6px, 0px, 26.5px);
                a{
                    font-size: 18px;
                    color: $primary-color;
                    font-weight: 700;
                    i{
                        padding-left: 2px;
                        font-size: 12px;
                    } 
                }
            }
        }
    
}

.header{
    background: url("../images/header\ background.png")  bottom;
    background-size: cover;
    height: 733px;
    .flex-container{
        @include flex-container();
        .header-item-1{
            padding-left: 55px;
            padding-bottom: 86px;
            div{
                padding-top: 19px;
                text-align: end;
            }
        }
        .header-item-2{
            padding-left:183px;
            padding-bottom: 122px;
            letter-spacing: 1.7px;

            .header-text{
                padding-bottom: 22px;
            }   
            .header-title{
                font-size: 80px;
                color: rgb(48, 64, 97);
                line-height: 1.1;
                padding-bottom: 140px;
                letter-spacing: 2px;
            }
            .explore-button{
                border:none;
                background-color:yellow;
                color: rgb(48, 64, 97);
                margin-left: 3.5px;
                padding: 26.5px 39px 21.5px 50px ;
                letter-spacing: 4.8px;
                font-weight: bold;
                font-size: 16px;
            }
            .slideshow-img{
                max-width: 50px;
            }

        }
    }
    h1{
        margin: 0;
    }
}
.filter-section{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    #search-bar{
        grid-column: 1/span 6;

    }
}

.collection{
    .row{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }

    p{
        margin: 0;
    }
}

.section-3{
    display: grid;
    grid-template-columns: auto auto;
    .section3-container{
        position: relative;
        .section3-text1{
            background-color: grey;
            position: absolute;
            top: 45%;
            left: -10%;
        }
        .section3-text2{
            background-color: grey;
            position: absolute;
            top: 45%;
            right: -10%;
        }
    }
}

.grid-footer{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
