* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 1920px;
  font-family: "Lato";
}

a {
  text-decoration: none;
}

hr {
  background-color: #2f4061;
  border: none;
  height: 4px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 75%;
  margin: auto;
  height: 100%;
}

#active-dot {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #9f765a;
}

#cart-items-list {
  display: none;
  position: absolute;
  top: 111%;
  left: -388%;
  border: 1px solid #ddccb8;
  -webkit-box-shadow: -7px -5px 20px #dfd3c781;
          box-shadow: -7px -5px 20px #dfd3c781;
  background-color: white;
  width: 450px;
}

#cart-items-list .cart-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 50% 25% 10%;
      grid-template-columns: 15% 50% 25% 10%;
}

#cart-items-list .cart-grid img {
  padding-top: 32px;
  margin-left: 36px;
  width: 26px;
}

#cart-items-list .cart-grid .cart-text {
  margin-left: 18px;
  margin-bottom: 31px;
}

#cart-items-list .cart-grid .cart-text h3 {
  margin: 0;
  margin-top: 30px;
  letter-spacing: 0.9px;
  color: #304061;
}

#cart-items-list .cart-grid .cart-text p {
  margin: 0;
  margin-top: 3px;
  padding-left: 0.5px;
  color: #ab866e;
}

#cart-items-list .cart-grid .cart-mark {
  margin-top: 10px;
  margin-left: 10.5px;
  letter-spacing: 0.6px;
  color: #304061;
}

#cart-items-list .cart-grid .x-btn {
  margin-top: 10px;
  margin-left: 13px;
}

#cart-items-list .cart-grid .x-btn::after {
  font-size: 23px;
}

#cart-items-list .cart-grid .edge {
  color: white;
  position: absolute;
  top: -37%;
  right: 4.25%;
  z-index: 1;
  font-size: 64px;
}

#cart-items-list .cart-message {
  border-top: 1px solid #ddccb8;
}

#cart-items-list .cart-message p {
  margin: 0;
  color: #7384a0;
  padding-top: 11px;
  padding-left: 92px;
  padding-bottom: 15px;
  font-size: 14px;
  letter-spacing: 0.34px;
}

#cart-items-number {
  position: absolute;
  background-color: #304061;
  color: white;
  font-size: 12px;
  top: 24%;
  left: 46%;
  padding: 1px 5px 2px 5px;
  border-radius: 50%;
}

.navbar {
  height: 77px;
  -webkit-box-shadow: 0px 0px 20px #dfd3c7;
          box-shadow: 0px 0px 20px #dfd3c7;
}

.navbar .flex-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .flex-container .logo {
  padding-left: 14.6px;
  padding-right: 49.5px;
  padding-top: 16px;
  height: 100%;
  border-right: 1px solid #e6e6e6;
}

.navbar .flex-container .logo a {
  color: #304061;
  font-family: "OpenSans";
  display: block;
}

.navbar .flex-container .logo .text-logo {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 11px;
}

.navbar .flex-container .logo .sub-text-logo {
  font-size: 11px;
  letter-spacing: 6px;
}

.navbar .flex-container .nav-item-2 {
  padding-left: 34.5px;
  padding-right: 29px;
  padding-top: 27.5px;
  height: 100%;
  border-right: 1px solid #e6e6e6;
}

.navbar .flex-container .nav-item-2 a {
  text-shadow: 0px 0px 0.1px #304061;
  color: #304061;
  letter-spacing: 3.9px;
  font-size: 17px;
}

.navbar .flex-container .nav-item-3 {
  padding-left: 35px;
  padding-right: 329px;
  padding-top: 27.5px;
  height: 100%;
  display: inline;
  border-right: 1px solid #e6e6e6;
}

.navbar .flex-container .nav-item-3 a {
  font-size: 15.5px;
  letter-spacing: 0.63px;
  color: #ab866e;
}

.navbar .flex-container .nav-item-3 i {
  padding-left: 4px;
  padding-top: 5px;
  font-size: 11px;
}

.navbar .flex-container .nav-item-4 {
  padding-left: 32px;
  padding-right: 43px;
  padding-top: 29px;
  height: 100%;
  position: relative;
}

.navbar .flex-container .nav-item-4 a {
  font-size: 16px;
  color: #ab866e;
}

.navbar .flex-container .nav-item-5 {
  padding-left: 0;
  padding-right: 29px;
  padding-top: 17px;
  height: 100%;
  border-right: 1px solid #e6e6e6;
}

.navbar .flex-container .nav-item-5 p {
  color: #ab866e;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.navbar .flex-container .nav-item-5 .nav-total {
  color: #7583a0;
  font-size: 12px;
  letter-spacing: -0.2px;
  padding-bottom: 2px;
}

.navbar .flex-container .nav-item-6 {
  padding-left: 32px;
  padding-right: 0px;
  padding-top: 24px;
  height: 100%;
}

.navbar .flex-container .nav-item-6 .avatar-icon {
  font-size: 27px;
  color: #ab866e;
}

.navbar .flex-container .nav-item-7 {
  padding-left: 6px;
  padding-right: 0px;
  padding-top: 26.5px;
  height: 100%;
}

.navbar .flex-container .nav-item-7 a {
  font-size: 18px;
  color: #304061;
  font-weight: 700;
}

.navbar .flex-container .nav-item-7 a i {
  padding-left: 2px;
  font-size: 12px;
}

.sticky {
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 1920px;
}

.sticky + .header {
  margin-top: 77px;
}

.fade-out {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background: url("../images/header background.png") 1px bottom;
  background-size: cover;
  height: 732px;
}

.header .flex-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .flex-container .header-item-1 {
  padding-left: 58.5px;
  padding-bottom: 86px;
}

.header .flex-container .header-item-1 div {
  padding-top: 18.5px;
  text-align: end;
}

.header .flex-container .header-item-1 div i {
  color: #ddccb8;
  font-size: 10px;
}

.header .flex-container .header-item-2 {
  padding-left: 183px;
  padding-bottom: 122px;
  letter-spacing: 1.7px;
  position: relative;
  height: 100%;
}

.header .flex-container .header-item-2 .header-text {
  padding: 73px 0px 0px 3px;
  letter-spacing: 1.35px;
  color: #9f765a;
}

.header .flex-container .header-item-2 .header-title {
  font-family: 'Ibarra Real Nova', serif;
  max-width: 490px;
  font-size: 81px;
  color: #304061;
  line-height: 1.1;
  padding: 17px 0px 58.5px 0px;
  letter-spacing: 1.8px;
}

.header .flex-container .header-item-2 .explore-button {
  border: none;
  background-color: white;
  color: #304061;
  margin-left: 3.5px;
  padding: 24.5px 39px 24px 50px;
  text-shadow: 0px 0px 0.5px #304061;
  margin-right: 37px;
  letter-spacing: 5.5px;
  font-weight: 700;
  font-size: 15px;
  -webkit-box-shadow: 1px 15px 40px #e6dcd3;
          box-shadow: 1px 15px 40px #e6dcd3;
}

.header .flex-container .header-item-2 .explore-text {
  color: #9f765a;
  font-size: 20px;
  padding-bottom: 2px;
  letter-spacing: 0;
}

.header .flex-container .header-item-2 .explore-img {
  padding-bottom: 3px;
  padding-left: 10.5px;
}

.header .flex-container .header-item-2 .slideshow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: absolute;
  bottom: 0;
  margin-left: 3.5px;
}

.header .flex-container .header-item-2 .slideshow .slideshow-btn1 {
  cursor: pointer;
  padding: 51px 48px 48px 49px;
  border: none;
  background-color: #ddccb8;
  margin: 0;
}

.header .flex-container .header-item-2 .slideshow .slideshow-btn2 {
  cursor: pointer;
  padding: 51px 48px 48px 48px;
  border: none;
  background-color: white;
  margin: 0;
}

.header .flex-container .header-item-2 .slideshow .slideshow-img {
  background-color: white;
  padding: 21.85px 44px 19px 28px;
}

.header .flex-container .header-item-2 .slideshow .slideshow-img img {
  width: 43px;
  height: 70px;
}

.header .flex-container .header-item-2 .slideshow .slideshow-img-btn {
  padding: 20px 0px 0px 10px;
}

.header .flex-container .header-item-3 {
  padding-left: 92px;
  padding-bottom: 82px;
}

.header h1 {
  margin: 0;
}

.filters {
  background-color: #f5f1ee;
}

.filter-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.filter-section #search-bar {
  font-family: "Lato";
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  text-indent: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/span 6;
  margin: 32px 15px 19px 15px;
  color: #ddccb8;
  border: solid 1px #ddccb8;
  padding: 12px 0px 12px 18px;
  -webkit-box-shadow: inset 0px 0 10px 0px #bb9b642f;
          box-shadow: inset 0px 0 10px 0px #bb9b642f;
}

.filter-section #search-bar::-webkit-input-placeholder {
  padding-top: 0.5px;
  padding-left: 6.5px;
  letter-spacing: 0.4px;
  color: #ddccb8;
  font-size: 16px;
  font-weight: 300;
}

.filter-section #search-bar:-ms-input-placeholder {
  padding-top: 0.5px;
  padding-left: 6.5px;
  letter-spacing: 0.4px;
  color: #ddccb8;
  font-size: 16px;
  font-weight: 300;
}

.filter-section #search-bar::-ms-input-placeholder {
  padding-top: 0.5px;
  padding-left: 6.5px;
  letter-spacing: 0.4px;
  color: #ddccb8;
  font-size: 16px;
  font-weight: 300;
}

.filter-section #search-bar::placeholder {
  padding-top: 0.5px;
  padding-left: 6.5px;
  letter-spacing: 0.4px;
  color: #ddccb8;
  font-size: 16px;
  font-weight: 300;
}

.filter-section #search-bar:focus {
  background-image: none;
  text-indent: 0;
}

.filter-section select {
  border: solid 1px #ddccb8;
  color: #b08b71;
  font-size: 16px;
  padding: 10px 0px 11px 9px;
  margin: 0px 15px 30px 15px;
}

.x-btn:after {
  content: "\d7";
  font-size: 25px;
  color: #b08b71;
  cursor: pointer;
}

.selected-filters {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 176px 176px 174px 187px 1fr 1fr 1fr auto;
      grid-template-columns: 176px 176px 174px 187px 1fr 1fr 1fr auto;
  margin: 24px 4px 0px 5px;
}

.selected-filters li {
  list-style-type: none;
  border: solid 1px #ddccb8;
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selected-filters li p {
  padding: 4px 0px 6px 20.5px;
  font-size: 18px;
  margin: 0;
  color: #b08b71;
  letter-spacing: 0.5px;
}

.selected-filters .selected-filters-item {
  margin: 10px;
}

.selected-filters .selected-filters-item-1 {
  margin: 10px;
  margin-right: 11px;
}

.selected-filters .selected-filters-item-2 {
  margin: 10px;
  margin-right: 11px;
}

.selected-filters .selected-filters-item-3 {
  margin: 10px;
  margin-left: 9px;
}

.selected-filters .selected-filters-item-4 {
  margin: 10px;
  margin-left: 11px;
  -ms-grid-columns: 67% 33%;
      grid-template-columns: 67% 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection {
  padding-top: 28px;
  min-height: 738px;
}

.collection table {
  width: 97.95%;
  margin: auto;
  border-collapse: collapse;
}

.collection table thead {
  text-align: left;
}

.collection table thead tr {
  border-bottom: 1px solid #dacdc4;
}

.collection table thead tr th {
  color: #75839d;
  padding-bottom: 12px;
  letter-spacing: 0.25px;
}

.collection table thead tr .table-col1 {
  width: 83.5px;
}

.collection table thead tr .table-col2 {
  width: 92px;
}

.collection table thead tr .table-col3 {
  width: 308px;
}

.collection table thead tr .table-col4 {
  width: 246px;
}

.collection table thead tr .table-col5 {
  width: 174px;
}

.collection table thead tr .table-col6 {
  width: 193px;
}

.collection table thead tr .table-col7 {
  width: 101px;
  padding-left: 2px;
}

.collection table thead tr .table-col8 {
  width: 160px;
}

.collection table tbody .table-toggler {
  cursor: pointer;
}

.collection table tbody td {
  color: #a6826a;
}

.collection table tbody p {
  margin: 0;
  padding-left: 1px;
}

.collection table tbody h3, .collection table tbody h5 {
  margin: 0;
  color: #304061;
  letter-spacing: 0.85px;
  padding-left: 0.5px;
}

.collection table tbody h5 {
  letter-spacing: 0.65px;
}

.collection table tbody .low-stock {
  height: 11px;
  text-align: end;
  font-size: 13px;
  color: #d67419;
  padding-right: 38px;
  padding-top: 8px;
  font-weight: 700;
  letter-spacing: -0.5px;
  word-spacing: 0.3px;
}

.collection table tbody .low-stock i {
  padding-right: 3.5px;
  font-size: 14px;
}

.collection table tbody .table-row1 td {
  padding-bottom: 4px;
}

.collection table tbody .table-row1 td:first-child {
  padding-bottom: 5px;
  padding-left: 34px;
}

.collection table tbody .table-row1 img {
  padding-top: 8px;
  padding-left: 3px;
}

.collection table tbody .table-row1 h3 {
  padding-bottom: 3px;
}

.collection table tbody .table-row1 h5 {
  padding-left: 1.5px;
  padding-top: 7px;
}

.collection table tbody .table-row1 .listing, .collection table tbody .table-row1 .wholesale, .collection table tbody .table-row1 #marked-row .wholesale, #marked-row .collection table tbody .table-row1 .wholesale {
  padding-top: 7px;
  padding-left: 1.5px;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.collection table tbody .table-row1 .inc-dec-button div {
  padding-top: 23px;
  padding-left: 1px;
}

.collection table tbody .table-row1 .inc-dec-button div:first-child {
  padding-top: 30px;
  padding-left: 0px;
}

.collection table tbody .table-row1 td:nth-child(8) {
  padding-left: 10px;
}

.collection table tbody .table-row1 td:nth-child(8) div:first-child {
  padding-top: 4px;
  font-size: 13px;
  letter-spacing: -1px;
}

.collection table tbody .table-row1 td:nth-child(9) {
  padding-top: 7px;
  padding-left: 14px;
  font-size: 11.5px;
}

.collection table tbody .table-row3 td, .collection table tbody .table-row2 td {
  padding-bottom: 4px;
}

.collection table tbody .table-row3 td:first-child, .collection table tbody .table-row2 td:first-child {
  padding-bottom: 9px;
  padding-left: 34px;
}

.collection table tbody .table-row3 img, .collection table tbody .table-row2 img {
  padding-top: 6px;
  padding-left: 3px;
}

.collection table tbody .table-row3 h3, .collection table tbody .table-row2 h3 {
  padding-bottom: 3px;
}

.collection table tbody .table-row3 .table-subtext, .collection table tbody .table-row2 .table-subtext {
  padding-bottom: 3px;
  padding-left: 0.5px;
}

.collection table tbody .table-row3 h5, .collection table tbody .table-row2 h5 {
  padding-left: 1.5px;
  padding-top: 6px;
}

.collection table tbody .table-row3 .listing, .collection table tbody .table-row2 .listing, .collection table tbody .table-row3 .wholesale, .collection table tbody .table-row2 .wholesale, .collection table tbody .table-row3 #marked-row .wholesale, #marked-row .collection table tbody .table-row3 .wholesale, .collection table tbody .table-row2 #marked-row .wholesale, #marked-row .collection table tbody .table-row2 .wholesale {
  padding-top: 6px;
  padding-left: 1.5px;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.collection table tbody .table-row3 .inc-dec-button div, .collection table tbody .table-row2 .inc-dec-button div {
  padding-top: 22px;
  padding-left: 1px;
}

.collection table tbody .table-row3 .inc-dec-button div:first-child, .collection table tbody .table-row2 .inc-dec-button div:first-child {
  padding-top: 28px;
  padding-left: 0px;
}

.collection table tbody .table-row3 td:nth-child(8), .collection table tbody .table-row2 td:nth-child(8) {
  padding-left: 10px;
}

.collection table tbody .table-row3 td:nth-child(8) div:first-child, .collection table tbody .table-row2 td:nth-child(8) div:first-child {
  padding-top: 3px;
  font-size: 13px;
  letter-spacing: -1px;
}

.collection table tbody .table-row3 td:nth-child(9), .collection table tbody .table-row2 td:nth-child(9) {
  padding-top: 5px;
  padding-left: 14px;
  font-size: 11.5px;
}

.collection table tbody .table-row4 td, .collection table tbody .table-row5 td {
  padding-bottom: 4px;
}

.collection table tbody .table-row4 td:first-child, .collection table tbody .table-row5 td:first-child {
  padding-top: 10px;
  padding-left: 34px;
}

.collection table tbody .table-row4 img, .collection table tbody .table-row5 img {
  padding-top: 20px;
  padding-left: 2px;
}

.collection table tbody .table-row4 h3, .collection table tbody .table-row5 h3 {
  padding-top: 14px;
  padding-bottom: 3px;
}

.collection table tbody .table-row4 .table-subtext, .collection table tbody .table-row5 .table-subtext {
  padding-bottom: 3px;
  padding-left: 0.5px;
}

.collection table tbody .table-row4 h5, .collection table tbody .table-row5 h5 {
  padding-left: 1.5px;
  padding-top: 20px;
}

.collection table tbody .table-row4 .listing, .collection table tbody .table-row5 .listing, .collection table tbody .table-row4 .wholesale, .collection table tbody .table-row5 .wholesale, .collection table tbody .table-row4 #marked-row .wholesale, #marked-row .collection table tbody .table-row4 .wholesale, .collection table tbody .table-row5 #marked-row .wholesale, #marked-row .collection table tbody .table-row5 .wholesale {
  padding-top: 20px;
  padding-left: 1.5px;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.collection table tbody .table-row4 .inc-dec-button div, .collection table tbody .table-row5 .inc-dec-button div {
  padding-top: 35px;
  padding-left: 1px;
}

.collection table tbody .table-row4 .inc-dec-button div:first-child, .collection table tbody .table-row5 .inc-dec-button div:first-child {
  padding-top: 42px;
  padding-left: 0px;
}

.collection table tbody .table-row4 td:nth-child(8), .collection table tbody .table-row5 td:nth-child(8) {
  padding-left: 10px;
}

.collection table tbody .table-row4 td:nth-child(8) div:first-child, .collection table tbody .table-row5 td:nth-child(8) div:first-child {
  padding-top: 16px;
  font-size: 13px;
  letter-spacing: -1px;
}

.collection table tbody .table-row4 td:nth-child(9), .collection table tbody .table-row5 td:nth-child(9) {
  padding-top: 18px;
  padding-left: 14px;
  font-size: 11.5px;
}

.collection table tbody .table-row5 img {
  padding-left: 3px;
}

.collection table tbody .table-row5 #out-of-stock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0px;
  font-size: 12px;
  color: #304061;
  font-weight: bold;
}

.collection table tbody .table-row5 #out-of-stock img {
  padding-top: 24px;
  padding-left: 12px;
}

.collection table tbody .table-row5 #out-of-stock span {
  padding-top: 22px;
  padding-left: 7px;
  letter-spacing: -0.6px;
}

.collection table tbody .table-row6 td {
  padding-bottom: 4px;
}

.collection table tbody .table-row6 td:first-child {
  padding-top: 9px;
  padding-left: 34px;
}

.collection table tbody .table-row6 img {
  padding-top: 18px;
  padding-left: 5px;
}

.collection table tbody .table-row6 h3 {
  padding-top: 14px;
  padding-bottom: 3px;
}

.collection table tbody .table-row6 .table-subtext {
  padding-bottom: 3px;
  padding-left: 0.5px;
}

.collection table tbody .table-row6 h5 {
  padding-left: 1.5px;
  padding-top: 19px;
  letter-spacing: 0.82px;
}

.collection table tbody .table-row6 .listing, .collection table tbody .table-row6 .wholesale, .collection table tbody .table-row6 #marked-row .wholesale, #marked-row .collection table tbody .table-row6 .wholesale {
  padding-top: 19px;
  padding-left: 1.5px;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.collection table tbody .table-row6 .inc-dec-button div {
  padding-top: 35px;
  padding-left: 1px;
}

.collection table tbody .table-row6 .inc-dec-button div:first-child {
  padding-top: 42px;
  padding-left: 0px;
}

.collection table tbody .table-row6 td:nth-child(8) {
  padding-left: 10px;
}

.collection table tbody .table-row6 td:nth-child(8) div:first-child {
  padding-top: 16px;
  font-size: 13px;
  letter-spacing: -1px;
}

.collection table tbody .table-row6 td:nth-child(9) {
  padding-top: 18px;
  padding-left: 14px;
  font-size: 11.5px;
}

.collection table tbody .inc-dec-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 14% 86%;
      grid-template-columns: 14% 86%;
}

.collection table tbody .increase-btn, .collection table tbody .decrease-btn {
  border: none;
  display: block;
  background-color: rgba(255, 255, 255, 0);
}

.collection table tbody .increase-btn i, .collection table tbody .decrease-btn i {
  color: #ab866e;
  font-size: 12px;
  cursor: pointer;
}

.collection table tbody .add-to-cart-button, .collection table tbody .added-to-cart-button {
  background-color: #304061;
  color: white;
  letter-spacing: 5.8px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  padding: 18px 22px 16px 30px;
}

.collection table tbody .added-to-cart-button {
  padding: 17px 9px 17px 21px;
  background-color: #546b95;
  letter-spacing: 5.5px;
  font-weight: 300;
}

.collection table tbody .added-to-cart-button i {
  padding-left: 4px;
}

#product-star {
  cursor: pointer;
}

#marked-row {
  border: 1px solid #ddccb8;
  border-bottom: none;
  -webkit-box-shadow: 0px -10px 20px #ddccb844;
          box-shadow: 0px -10px 20px #ddccb844;
}

#marked-row td {
  padding-bottom: 4px;
}

#marked-row td:first-child {
  padding-left: 33px;
}

#marked-row td:first-child i {
  padding-bottom: 4px;
}

#marked-row img {
  padding-top: 20px;
  padding-left: 3px;
  padding-bottom: 13px;
}

#marked-row h3 {
  padding-bottom: 3px;
}

#marked-row h5 {
  padding-left: 1.5px;
  padding-top: 7px;
  letter-spacing: 0.75px;
}

#marked-row .listing, #marked-row .wholesale {
  padding-top: 7px;
  padding-left: 1.5px;
  letter-spacing: 0.3px;
  font-size: 14px;
}

#marked-row .inc-dec-button div {
  padding-top: 36px;
  padding-left: 1px;
}

#marked-row .inc-dec-button div:first-child {
  padding-top: 42px;
  padding-left: 0px;
}

#marked-row td:nth-child(8) {
  padding-left: 10px;
}

#marked-row td:nth-child(8) div:first-child {
  padding-top: 4px;
  font-size: 13px;
  letter-spacing: -1px;
}

#marked-row td:nth-child(9) {
  padding-top: 7px;
  padding-left: 13.5px;
  font-size: 11.5px;
}

#ei2, #ei1, #ei3, #ei4, #ei5, #ei6 {
  border: 1px solid #ddccb8;
  border-top: 1px solid #e4e4e4;
  -webkit-box-shadow: 0px 10px 20px #ddccb844;
          box-shadow: 0px 10px 20px #ddccb844;
  font-size: 14px;
}

#ei2 div, #ei1 div, #ei3 div, #ei4 div, #ei5 div, #ei6 div {
  color: #77829e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ei2 div .show-color, #ei1 div .show-color, #ei3 div .show-color, #ei4 div .show-color, #ei5 div .show-color, #ei6 div .show-color {
  color: black;
  font-size: 13px;
}

#ei2 div:nth-child(2) p, #ei1 div:nth-child(2) p, #ei3 div:nth-child(2) p, #ei4 div:nth-child(2) p, #ei5 div:nth-child(2) p, #ei6 div:nth-child(2) p {
  padding-bottom: 4px;
  padding-left: 60px;
}

#ei2 div:nth-child(2) p i, #ei1 div:nth-child(2) p i, #ei3 div:nth-child(2) p i, #ei4 div:nth-child(2) p i, #ei5 div:nth-child(2) p i, #ei6 div:nth-child(2) p i {
  padding-left: 4px;
}

#ei2 div:nth-child(3) p, #ei1 div:nth-child(3) p, #ei3 div:nth-child(3) p, #ei4 div:nth-child(3) p, #ei5 div:nth-child(3) p, #ei6 div:nth-child(3) p {
  padding-bottom: 4px;
  padding-left: 9px;
}

#ei2 div:nth-child(4) p, #ei1 div:nth-child(4) p, #ei3 div:nth-child(4) p, #ei4 div:nth-child(4) p, #ei5 div:nth-child(4) p, #ei6 div:nth-child(4) p {
  padding-bottom: 4px;
  padding-left: 3px;
}

#ei2 div:nth-child(5) p, #ei1 div:nth-child(5) p, #ei3 div:nth-child(5) p, #ei4 div:nth-child(5) p, #ei5 div:nth-child(5) p, #ei6 div:nth-child(5) p {
  padding-bottom: 4px;
  padding-left: 11px;
}

#ei2 div:nth-child(6) button, #ei1 div:nth-child(6) button, #ei3 div:nth-child(6) button, #ei4 div:nth-child(6) button, #ei5 div:nth-child(6) button, #ei6 div:nth-child(6) button {
  padding-bottom: 3px;
  padding-left: 145px;
}

#ei2 div:nth-child(6) button i, #ei1 div:nth-child(6) button i, #ei3 div:nth-child(6) button i, #ei4 div:nth-child(6) button i, #ei5 div:nth-child(6) button i, #ei6 div:nth-child(6) button i {
  font-size: 15px;
}

#ei2 .extra-info-parts, #ei1 .extra-info-parts, #ei3 .extra-info-parts, #ei4 .extra-info-parts, #ei5 .extra-info-parts, #ei6 .extra-info-parts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 235.05px 241.72px 160px 320px auto auto;
      grid-template-columns: 235.05px 241.72px 160px 320px auto auto;
}

#ei2 .extra-info-links, #ei1 .extra-info-links, #ei3 .extra-info-links, #ei4 .extra-info-links, #ei5 .extra-info-links, #ei6 .extra-info-links {
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 92px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
}

#ei2 .extra-info-links button, #ei1 .extra-info-links button, #ei3 .extra-info-links button, #ei4 .extra-info-links button, #ei5 .extra-info-links button, #ei6 .extra-info-links button {
  max-width: 10px;
  border: none;
  background-color: white;
  padding: 0;
}

#ei2 .extra-info-links button:nth-child(2), #ei1 .extra-info-links button:nth-child(2), #ei3 .extra-info-links button:nth-child(2), #ei4 .extra-info-links button:nth-child(2), #ei5 .extra-info-links button:nth-child(2), #ei6 .extra-info-links button:nth-child(2) {
  padding-top: 1px;
}

#ei2 .extra-info-links button:nth-child(2) a, #ei1 .extra-info-links button:nth-child(2) a, #ei3 .extra-info-links button:nth-child(2) a, #ei4 .extra-info-links button:nth-child(2) a, #ei5 .extra-info-links button:nth-child(2) a, #ei6 .extra-info-links button:nth-child(2) a {
  padding-left: 4px;
}

#ei2 .extra-info-links button:nth-child(3), #ei1 .extra-info-links button:nth-child(3), #ei3 .extra-info-links button:nth-child(3), #ei4 .extra-info-links button:nth-child(3), #ei5 .extra-info-links button:nth-child(3), #ei6 .extra-info-links button:nth-child(3) {
  padding-top: 1px;
}

#ei2 .extra-info-links button:nth-child(3) a, #ei1 .extra-info-links button:nth-child(3) a, #ei3 .extra-info-links button:nth-child(3) a, #ei4 .extra-info-links button:nth-child(3) a, #ei5 .extra-info-links button:nth-child(3) a, #ei6 .extra-info-links button:nth-child(3) a {
  padding-left: 7px;
}

#ei2 .extra-info-links button:nth-child(4), #ei1 .extra-info-links button:nth-child(4), #ei3 .extra-info-links button:nth-child(4), #ei4 .extra-info-links button:nth-child(4), #ei5 .extra-info-links button:nth-child(4), #ei6 .extra-info-links button:nth-child(4) {
  padding-top: 1px;
}

#ei2 .extra-info-links button:nth-child(4) a, #ei1 .extra-info-links button:nth-child(4) a, #ei3 .extra-info-links button:nth-child(4) a, #ei4 .extra-info-links button:nth-child(4) a, #ei5 .extra-info-links button:nth-child(4) a, #ei6 .extra-info-links button:nth-child(4) a {
  padding-left: 10px;
}

#ei2 .extra-info-external-link, #ei1 .extra-info-external-link, #ei3 .extra-info-external-link, #ei4 .extra-info-external-link, #ei5 .extra-info-external-link, #ei6 .extra-info-external-link {
  border: none;
  background-color: white;
  padding: 0;
}

#ei2 .extra-info-external-link a, #ei1 .extra-info-external-link a, #ei3 .extra-info-external-link a, #ei4 .extra-info-external-link a, #ei5 .extra-info-external-link a, #ei6 .extra-info-external-link a {
  color: #936d56;
}

.section-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.section-3 .section3-img {
  max-height: 633px;
}

.section-3 .section3-container {
  position: relative;
}

.section-3 .section3-container .section3-text1 {
  padding: 28px 40px 69.5px 89px;
  width: 84.30%;
  background-color: #f5f1ee;
  position: absolute;
  top: 12%;
  left: -10.9%;
}

.section-3 .section3-container .section3-text1 h1 {
  color: #ab866e;
  font-size: 60px;
  letter-spacing: 2.8px;
  padding-left: 3px;
}

.section-3 .section3-container .section3-text1 p {
  padding-top: 6px;
  letter-spacing: 0.89px;
  line-height: 1.81;
  font-size: 17px;
  color: #304061;
}

.section-3 .section3-container .section3-text2 {
  padding: 27px 40px 67.75px 89px;
  width: 84.30%;
  background-color: #304061;
  position: absolute;
  top: 13.3%;
  right: -10.9%;
}

.section-3 .section3-container .section3-text2 h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 2.8px;
  padding-left: 1px;
}

.section-3 .section3-container .section3-text2 p {
  padding-top: 9px;
  letter-spacing: 0.89px;
  line-height: 1.81;
  font-size: 17px;
  color: white;
}

footer {
  min-height: 500px;
  background-color: #f5f1ee;
}

.footer-top-line {
  background-color: #ddccb8;
  height: 10px;
  width: 206px;
  margin-left: 44.5%;
}

.grid-footer {
  padding-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 440px 16px 530px 14px 440px;
      grid-template-columns: 440px 16px 530px 14px 440px;
}

.grid-footer h2 {
  font-family: "Georgia", serif;
  color: #304061;
  font-size: 28px;
}

.grid-footer .footer-item-1 {
  padding-bottom: 42px;
}

.grid-footer .footer-item-1 .footer-links {
  padding-left: 168px;
  letter-spacing: 9.1px;
}

.grid-footer .footer-item-1 div {
  text-align: center;
  padding-left: 40px;
}

.grid-footer .footer-item-1 .footer-links-item-1 {
  padding-right: 10px;
  padding-top: 21px;
}

.grid-footer .footer-item-1 .footer-links-item-1 a {
  color: #304061;
  font-size: 18px;
  letter-spacing: 3.2px;
}

.grid-footer .footer-item-1 .footer-links-item-2 {
  padding-top: 17px;
  padding-right: 8px;
}

.grid-footer .footer-item-1 .footer-links-item-2 a {
  color: #ab866e;
  font-size: 18px;
  letter-spacing: 3.3px;
}

.grid-footer .footer-item-1 .footer-links-item-3 {
  padding-top: 22px;
  padding-right: 13px;
}

.grid-footer .footer-item-1 .footer-links-item-3 a {
  color: #304061;
  font-size: 16.5px;
}

.grid-footer .footer-item-1 .footer-links-item-4 {
  padding-top: 16px;
  padding-right: 13px;
}

.grid-footer .footer-item-1 .footer-links-item-4 a {
  color: #304061;
  font-size: 16.2px;
}

.grid-footer .footer-item-2 {
  text-align: center;
  color: #304061;
}

.grid-footer .footer-item-2 h2 {
  padding-bottom: 43px;
  letter-spacing: 8.9px;
  padding-left: 6px;
}

.grid-footer .footer-item-2 p {
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
  padding-right: 10.5px;
  letter-spacing: 0.375px;
}

.grid-footer .footer-item-2 .footer-text2-1 {
  padding-right: 14.5px;
}

.grid-footer .footer-item-2 .footer-text2-3 {
  padding-right: 10.5px;
  padding-top: 1px;
  font-size: 16px;
  letter-spacing: 0px;
}

.grid-footer .footer-item-2 span {
  position: relative;
  padding-right: 8px;
}

.grid-footer .footer-item-2 .th {
  font-size: 10px;
  position: absolute;
  top: 10%;
  right: -20%;
}

.grid-footer .footer-item-3 h2 {
  padding-left: 58px;
  letter-spacing: 8.85px;
  padding-bottom: 66px;
}

.grid-footer .footer-item-3 .footer-button {
  width: 326px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 70% 20%;
      grid-template-columns: 10% 70% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  margin-left: 42px;
  padding-top: 25px;
  padding-left: 27px;
  padding-bottom: 27px;
}

.grid-footer .footer-item-3 .footer-button img {
  padding-left: 3px;
}

.grid-footer .footer-item-3 .footer-button span {
  padding-bottom: 2px;
  padding-left: 33px;
  letter-spacing: 1.65px;
}

.grid-footer .footer-item-3 .footer-button .footer-right-arrow {
  padding-left: 18px;
}

.grid-footer .footer-line-1 {
  border-right: 1px solid #ddccb8;
  margin-top: 39px;
}

.grid-footer .footer-line-2 {
  border-left: 1px solid #ddccb8;
  margin-top: 39px;
}

.copyrights {
  text-align: center;
  color: #304061;
  padding-top: 39px;
}

.copyrights span {
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */